In [40]:
import pandas as pd

In [41]:
file_path = 'C:/My documents/names'

In [42]:
def count_top3(year):
    answer_list = []
    for y in year: 
        df_names = pd.read_csv(f'{file_path}/yob{y}.txt', names=['name', 'gender', 'count'])
        df = df_names.sort_values('count', ascending=False)
        d = df.head(3)
        for i in d['name']:
            answer_list.append(i)
    return answer_list
count_top3([1880])

['John', 'William', 'Mary']

In [43]:
def count_top3(year):
    if len(year) < 2:
        answer_list = []
        for y in year: 
            df_names = pd.read_csv(f'{file_path}/yob{y}.txt', names=['name', 'gender', 'count'])
            df = df_names.sort_values('count', ascending=False)
            d = df.head(3)
            for i in d['name']:
                answer_list.append(i)
        return answer_list
    else:
        years = []
        for y in year: 
            df_names = pd.read_csv(f'{file_path}/yob{y}.txt', names=['name', 'gender', 'count'])
            years.append(df_names)
        df_res = pd.concat(years)
        df = df_res.groupby(['name', 'gender']).sum()
        d = df.sort_values('count', ascending=False)
        result = d.head(3)
#         for i in result['count']:
#             print(i)
        return result 
count_top3([1900, 1950, 2000])

                count
name   gender
James  M       111456
John   M       109349
Robert M       101118

In [48]:
def count_dynamics(year):
    names_by_year_dict = {}
    F = []
    M = []
    for y in year:
        names_by_year = pd.read_csv(f'{file_path}/yob{y}.txt', names=['name','gender','count'])
        M.append(names_by_year[names_by_year.gender == 'M'].shape[0])
        F.append(names_by_year[names_by_year.gender == 'F'].shape[0])
    names_by_year_dict['F'] = F
    names_by_year_dict['M'] = M
    return names_by_year_dict

count_dynamics([1900, 1950, 2000])

{'F': [2224, 6111, 17655], 'M': [1506, 4192, 12117]}