In [7]:
import pandas as pd

In [8]:
file_path = 'C:/My documents/names'

In [22]:
def count_top3(year):
    answer_list = []
    for y in year: 
        df_names = pd.read_csv(f'{file_path}/yob{y}.txt', names=['name', 'gender', 'count'])
        df = df_names.sort_values('count', ascending=False)
        d = df.head(3)
        for i in d['name']:
            answer_list.append(i)
    return answer_list
count_top3([1880])

['John', 'William', 'Mary']

In [71]:
def count_top3(year):
    years = []
#     answer_list = []
    for y in year: 
        df_names = pd.read_csv(f'{file_path}/yob{y}.txt', names=['name', 'gender', 'count'])
        years.append(df_names)
    df_res = pd.concat(years)
    df = df_res.groupby(['name', 'gender']).sum()
    d = df.sort_values('count', ascending=False)
    result = d.head(3)
    return result

count_top3([1900, 1950, 2000])

                count
name   gender
James  M       111456
John   M       109349
Robert M       101118

In [23]:
def count_dynamics(year):
    start_year = 1880
    lenM1, lenM2, lenM3 = 0, 0, 0
    lenF1, lenF2, lenF3 = 0, 0, 0
    
    for year in range(1880, 2018):
    names_by_year[year] = pd.read_csv(
        f'names/yob{year}.txt',
        names=['Name','Gender','Count']
    )
# names_all = pd.concat(names_by_year)
names_all = pd.concat(names_by_year).reset_index(level=1, drop=True)
    
    while y <= year1:
        df_1 = pd.read_csv(f'{file_path}/yob{y}.txt', names=['name', 'gender', 'count'])
        lenM1 += df_1[(df_1.gender == 'M')].shape[0]
        lenF1 += df_1[(df_1.gender == 'F')].shape[0]
        y += 1
    while y <= year2:
        df_2 = pd.read_csv(f'{file_path}/yob{y}.txt', names=['name', 'gender', 'count'])
        lenM2 += df_2[(df_2.gender == 'M')].shape[0]
        lenF2 += df_2[(df_2.gender == 'F')].shape[0]
        y += 1
    while y <= year3:
        df_3 = pd.read_csv(f'{file_path}/yob{y}.txt', names=['name', 'gender', 'count'])
        lenM3 = df_3[(df_3.gender == 'M')].shape[0]
        lenF3 = df_3[(df_3.gender == 'F')].shape[0]
    d = {}
    d['F'] = [lenF1, lenF2, lenF3]
    d['M'] = [lenM1, lenM2, lenM3]
    return d
    
count_dynamics([1900, 1950, 2000])

KeyboardInterrupt:

In [62]:
def count_dynamics(year):
    start_year = 1880
    names_by_year = {}
    F = []
    for y in year:
        for i in range(start_year, y):
            names_by_year = pd.read_csv(f'{file_path}/yob{i}.txt', names=['name','gender','count'])
        names_all = pd.concat(names_by_year)
    print(names_all[names_all.gender == 'M'])

count_dynamics([1900, 1950, 2000])

                name gender  count
1880 942        John      M   9655
     943     William      M   9532
     944       James      M   5927
     945     Charles      M   5348
     946      George      M   5126
     947       Frank      M   3242
     948      Joseph      M   2632
     949      Thomas      M   2534
     950       Henry      M   2444
     951      Robert      M   2415
     952      Edward      M   2364
     953       Harry      M   2152
     954      Walter      M   1755
     955      Arthur      M   1599
     956        Fred      M   1569
     957      Albert      M   1493
     958      Samuel      M   1024
     959       David      M    869
     960       Louis      M    828
     961         Joe      M    731
     962     Charlie      M    730
     963    Clarence      M    730
     964     Richard      M    728
     965      Andrew      M    644
     966      Daniel      M    643
     967      Ernest      M    615
     968        Will      M    588
     969       Jesse      M    569
     970       Oscar      M    544
     971       Lewis      M    517
...              ...    ...    ...
1999 28522     Zadok      M      5
     28523     Zaeem      M      5
     28524  Zakarias      M      5
     28525    Zakeem      M      5
     28526    Zakory      M      5
     28527    Zamuel      M      5
     28528    Zandre      M      5
     28529     Zarif      M      5
     28530     Zarin      M      5
     28531    Zavery      M      5
     28532    Zavior      M      5
     28533     Zavon      M      5
     28534  Zecharia      M      5
     28535       Zed      M      5
     28536    Zedric      M      5
     28537      Zeid      M      5
     28538     Zeric      M      5
     28539    Zhamir      M      5
     28540     Ziair      M      5
     28541    Zidane      M      5
     28542     Ziere      M      5
     28543       Ziv      M      5
     28544     Ziven      M      5
     28545     Zivon      M      5
     28546     Zoran      M      5
     28547     Zyier      M      5
     28548    Zyquan      M      5
     28549    Zyquez      M      5
     28550     Zyron      M      5
     28551   Zyshaun      M      5

[539353 rows x 3 columns]