In [5]:
import pandas as pd

In [131]:
file_path = 'C:/My documents/names'

In [226]:
def count_top3(year):
    df_names = pd.read_csv(f'{file_path}/yob{year}.txt', names=['name', 'gender', 'count'])
    df = df_names.sort_values('count', ascending=False)
    d = df.head(3)
    return d
count_top3(1880)

        name gender  count
942     John      M   9655
943  William      M   9532
0       Mary      F   7065

In [193]:
def count_top3(year1, year2, year3):
    df_1 = pd.read_csv(f'{file_path}/yob{year1}.txt', names=['name', 'gender', 'count'])
    # df_1['year'] = year1
    df_2 = pd.read_csv(f'{file_path}/yob{year2}.txt', names=['name', 'gender', 'count'])
    # df_2['year'] = year2
    df_3 = pd.read_csv(f'{file_path}/yob{year3}.txt', names=['name', 'gender', 'count'])
    # df_3['year'] = year3
    df_res = pd.concat([df_1, df_2, df_3])
    df = df_res.groupby(['name', 'gender']).sum()
    d = df.sort_values('count', ascending=False)
    result = d.head(3) 
    return result #df_res[df_res['name'] == 'John'] #d#['name']

count_top3(1900, 1950, 2000)

                count
name   gender
James  M       111456
John   M       109349
Robert M       101118

In [ ]:
def count_dynamics(year1, year2, year3):
    y = 1880
    lenM1, lenM2, lenM3 = 0, 0, 0
    lenF1, lenF2, lenF3 = 0, 0, 0
    while y <= year1:
        df_1 = pd.read_csv(f'{file_path}/yob{y}.txt', names=['name', 'gender', 'count'])
        lenM1 += df_1[(df_1.gender == 'M')].shape[0]
        lenF1 += df_1[(df_1.gender == 'F')].shape[0]
        y += 1
    while y <= year2:
        df_2 = pd.read_csv(f'{file_path}/yob{y}.txt', names=['name', 'gender', 'count'])
        lenM2 += df_2[(df_2.gender == 'M')].shape[0]
        lenF2 += df_2[(df_2.gender == 'F')].shape[0]
        y += 1
    while y <= year3:
        df_3 = pd.read_csv(f'{file_path}/yob{y}.txt', names=['name', 'gender', 'count'])
        lenM3 = df_3[(df_3.gender == 'M')].shape[0]
        lenF3 = df_3[(df_3.gender == 'F')].shape[0]
    d = {}
    d['F'] = [lenF1, lenF2, lenF3]
    d['M'] = [lenM1, lenM2, lenM3]
    return d
    
count_dynamics(1900, 1950, 2000)